.section {
	background-color: #ffffff28;
	width: 100%;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	padding: 3rem 0;
	background-color: rgba(255, 255, 255, 0.171);
}

.video-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/* align-items: stretch; */
}
.section-title {
	padding-left: 30px;
	padding-bottom: 20px;
	transition: all 0.5s ease;
}

.nav-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 50px 0;
}
.next,
.prev {
	padding: 10px 20px;
	font-size: 2rem;
	border: 5px solid white;
	border-radius: 40px;
	outline: none;
	background-color: lightblue;
	cursor: pointer;
}

.next:hover,
.prev:hover {
	background-color: rgb(141, 201, 250);
}
.next:active,
.prev:active {
	background-color: rgba(91, 176, 247, 0.651);
}

.search-section {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 500px) {
	.section-title {
		font-size: 1.5rem;
		transition: all 0.5s ease;
	}

	.nav-page {
		justify-content: space-around;
		margin: 15px 0 0 0;
	}
	.next,
	.prev {
	}
}
